.sectionTech{
    margin-top: 5rem;
    box-sizing: border-box;
}

.sectionTech div ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}

.sectionTech div ul li{
    border: 1px solid var(--color-border);
    border-radius: 8px;
    width: 300px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionTech div ul li img{
    width: 1.75rem;
    height: 2.02344rem;
}

@media(max-width: 940px){
    .sectionTech div ul{
        justify-content: center;
    }
    .sectionTech div h2{
        text-align: center;
        margin-bottom: 40px;
        margin-right: 90px;
    }
}