.listSection div h2 {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}
.ul {
    display: flex;
    flex-wrap: wrap;
	gap: 30px;
}

.ul li {
    display: flex;
    width: 48%;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.ul li img {
    width: 0.031rem;
    height: 1.37rem;
    position: relative;
    top: 0.9375rem;
    right: 0.9375rem;
}

.ul li div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1.25rem;
    width: 27.3125rem;
}

@media(max-width: 940px){
    .listSection div h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    margin-right: 7.1875rem;
    }
    .ul {
        justify-content: center;
    }
    .ul li {
        display: flex; 
        list-style: none;
        max-width: 400px; 
    }
    
    .ul li div {
        max-width: 80%; /* Garantit que le div ne dépasse pas la largeur du li */
        word-wrap: break-word; 
    }
    
    .ul li img {
        max-width: 100%; /* L'image s'ajustera à la largeur du li */
        max-height: 100%; /* L'image s'ajustera à la hauteur du li */
    }
}